.contenedormayor
{
   border: 5px #57cc99 solid;
   width: 25%;
   height: 400px;
   color: #22577a;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #c7f9cc;
   margin-bottom: 15px;
   margin-left: 15px;
   justify-content: center;
}

h2
{
    margin-left: 80px;
    text-decoration: underline #38a3a5;
}

img
{
    margin-left: 80px;
    border: solid #38a3a5;
}

